:root {
  font-size: 62.5%;
  --color-primary: #222;
  --color-secondary: #ffb400;
  --color-white: white;
  --font: Poppins, sans-serif;
  --font-text: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}

.main {
  overflow: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  transform: translate3d(100%, 0, 0);
}
.open {
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  top: 0;
  position: absolute;
  display: block;
  transform: translate3d(0, 0, 0);
}

.back-mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  width: 60px;
  height: 55px;
  text-align: center;
  line-height: 54px;
  border-bottom-right-radius: 44px;
  background-color: var(--color-secondary);
}

.back-mobile i {
  color: #fff;
  font-size: 18px;
  margin-left: -6px;
}

.mostrar {
  display: block;
}

.nav-desktop-container {
  display: none;
}

.nav {
  width: 100%;
  height: 100vh;
  padding: 16px 0;
  background-color: var(--color-primary);
}

.nav__list {
  width: 86%;
  height: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}

.nav__item {
  min-width: 270px;
  height: 22%;
  border-radius: 4px;
  background-color: #333333;
}

.nav__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font);
  font-weight: 800;
  color: var(--color-white);
  font-size: 1.8rem;
}

.nav__link i {
  margin-bottom: 10px;
  color: var(--color-secondary);
  font-size: 2.8rem;
}

.home {
  display: none;
}

/* ABOUT */
.home,
.about,
.work {
  display: none;
  width: 100%;
  background-color: var(--color-primary);
}
.about {
  display: none;
  position: absolute;
}
.active {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.about__info-container {
  padding-bottom: 20px;
}

.about__title-container {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 55px 0 49px;
}

.about__title,
.portafolio__title {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--color-white);
  padding: 0 24px;
  text-align: center;
}

.about__title span,
.portafolio__title span {
  color: var(--color-secondary);
}

.about__subtitle,
.portafolio__subtitle {
  display: inline-block;
  margin: 20px 0 0;
  padding: 0 24px;
  font-family: var(--font-text);
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--color-white);
  opacity: 0.8;
  text-align: center;
}

.about__container {
  margin: 0 auto;
  padding: 0 24px 20px 24px;
  font-family: var(--font-text);
  font-size: 1.6rem;
  color: var(--color-white);
  line-height: 32px;
}

.about__img-container {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  z-index: 0;
}

.about__img {
  width: 100%;
}

.about__text {
  margin-bottom: 25px;
}

.about__list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about__list {
  list-style-type: none;
  padding: 0;
}
.about__item {
  padding-bottom: 21px;
}
.about__list h6 {
  font-size: 1.6rem;
  font-weight: 400;
}
.about__list span {
  height: 19px;
  margin-bottom: 7px;
  display: block;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.8;
}

.about__cv {
  min-width: 270px;
  width: 100%;
}
.about__mybutton {
  background-color: #ffb400;
  border-radius: 26px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px 33px;
  margin: 15px 0 35px 0;
  text-decoration: none;
}

.about__mybutton span i {
  padding-right: 11px;
}

.separator {
  width: 100%;
}

.separator-hr {
  margin: 0 12px 50px;
  box-sizing: content-box;
  background-color: #555;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about__title-education {
  margin-bottom: 25px;
  margin-top: 25px;
  text-transform: uppercase;
}
.about__education-item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.about__education-header {
  padding: 32px 0 10px;
}

.about__education-year {
  position: absolute;
  top: -2px;
  font-size: 1.3rem;
  opacity: 0.8;
  font-weight: 400;
}

.fa-calendar {
  display: none !important;
}

.about__education-degree {
  text-transform: uppercase;
  font-weight: 400;
}
.about__education-separator {
  display: inline-block;
  width: 10px;
  background: #555;
  height: 2px;
  margin: 0 7px 3px 7px;
  vertical-align: middle;
}
.about__educations-university {
  font-weight: 600;
}

.about__education-year i {
  color: var(--color-secondary);
  padding-right: 10px;
}
.about__education-body {
  font-size: 1.4rem;
}

@media (min-width: 481px) {
  .about__title {
    font-size: 5.5rem;
  }
  .about__subtitle {
    font-size: 1.5rem;
  }
}

/* WORK */

.portafolio {
  padding: 48px 0;
}

.portafolio__projects {
  padding: 0;
  margin: 0;
}
.portafolio__project {
  padding: 0 20px;
  margin-bottom: 24px;
}

.portafolio__thumbnail {
  position: relative;
  display: block;
}
.portafolio__thumbnail:hover > div {
  opacity: 1;
}
.portafolio__thumbnail div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  top: 0;
  opacity: 0;
  transition-duration: 0.2s;
}

.portafolio__thumbnail div span {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
  font-size: 2rem;
}

.portafolio__img {
  border-radius: 4px;
  position: relative;
}
